# Ignore emacs temp and bak files
*.*~
*~

# Ignore vim temp/swap files
*.swp

# Ignore the .DS_Store files from MAC OS
.DS_Store

# Ignore the binary directory
bin

# Ignore the test binary
test/test

# ignore object files
*.o

# Ignore the mongodb dumps for the moment
dump/

# ignore the compiled python code
*.pyc

# ignore intellij idea folder
.idea

# ignore the archived files
archive

# ignore node_modules
py-mgr/node_modules

# ignore built js files (es5.1)
py-mgr/js-build

# ignore the packed/browserified js file
py-mgr/js-dist

# ignore eclipse project folders/files
.cproject
.project
.settings

# ignore kdeveloper project settings
*.kdev4
*.kate-swp

# 
# Project build and dist directories
build
dist

nbproject/private
Makefile
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Testing
CTestTestfile.cmake
