# Ignore emacs temp and bak files
*.*~
*~

# Ignore the .DS_Store files from MAC OS
.DS_Store

# Ignore the binary output
bin/*.*
bin/detection

# Ignore the mongodb dumps for the moment
dump/

# ignore intellij idea folder
.idea