# Ignore emacs temp and bak files
*.*~
*~

# Ignore the .DS_Store files from MAC OS
.DS_Store

# Ignore the binary directory
bin

# Ignore the test binary
test/test

# ignore object files
*.o

# Ignore the mongodb dumps for the moment
dump/

# ignore intellij idea folder
.idea

# ignore the archived files
archive

# ignore eclipse project folders/files
.cproject
.project
.settings
